*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.container-size {
  max-width: 1045px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (max-width: 960px){
    padding: 0;
  }
}

.container-flex {
  flex: 1 1 auto;
}

.container-markup {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

img {
  width: 100%;
  min-height: auto;
}

p {
  color: #5C5C5C;
  line-height: 22px;
  font-size: 14px;
  @media screen and (max-width: 960px){
    font-size: 10px;
  }
}

span {
  font-size: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #424242;
}

button {
  outline: none;
  cursor: pointer;
}

input{
  outline: none;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 50px;
    line-height: 1;
    color: #f3f3f3;
    @media screen and (max-width: 960px){
      font-size: 35px;
    }
    @media screen and (max-width: 600px){
      font-size: 25px;
    }
  }
  h2 {
    font-size: 40px;
    line-height: 1;
    color: #444444;
    @media screen and (max-width: 960px){
      font-size: 25px;
    }
    @media screen and (max-width: 600px){
      font-size: 14px;
    }
  }
  span {
    font-size: 20px;
    font-weight: 300;
    color: #444444;
    @media screen and (max-width: 960px){
      font-size: 18px;
    }
    @media screen and (max-width: 600px){
      font-size: 11px;
    }
  }
}

.header {
  height: 42px;
  background-color: #f0f2f4;
  border-bottom: #b9b9ba;
  box-shadow: 0 1px 0 #e2e2e2;
  &__container-markup {
    flex-direction: row;
    justify-content: flex-end;
  }
  &__contact-phone, &__contact-mail, &__contact-networks {
    display: flex;
    align-items: center;
    span{
      margin-left: 5px;
      font-size: 17px;
    }
    i{
      display: flex;
      align-items: start;
      font-size: 19px;
    }
  }
  &__contact-phone, &__contact-mail{
    i{
      &:hover{
        color: #000000;
      }
    }
  }
  &__contact-mail {
    margin-right: 13px;
    &::before{
      width: 1px;
      height: 42px;
      margin: 0 20px;
      content: "";
      background-color: #b9b9ba;
    }
  }
  &__facebook{
    padding: 3px 8px;
    border-radius: 4px;
    background-color: #1386BF;
    color: #f0f0f2;
    &:hover{
      background-color: #0272a9;
    }
  }
  @media screen and (max-width: 960px){
    display: none;
  }
}

.header-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 131px;
  background-color: #FFFFFF;

  &__container-size {
    position: relative;
  }

  &__container-markup {
    flex-direction: row;
    justify-content: space-between;
  }

  &__burger {
    display: none;
    font-size: 45px;
    cursor: pointer;
    i{
      &:hover{
        color: #696969;
      }
    }
  }
  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__active-menu {
    display: none;
  }
  &__list {
    display: flex;
    margin: 0 36px;
    li {
      font-weight: 700;
      line-height: 22px;
      cursor: pointer;
      list-style-type: none;
      &:before {
        margin: 0 16px;
        content: '\2022';
      }
      a {
        padding-left: 5px;
      }
      span {
        &:hover {
          color: #DE2C24;
        }
      }
    }
  }
  &__li-home {
    &:before {
      display: none;
    }
  }
  &__button {
    width: 171px;
    height: 36px;
    background-color: #de2b24;
    border: 1px solid #de2b24;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    &:hover{
      background-color: #db1109;
    }
  }
  @media screen and (max-width: 960px) {
    &__burger {
      display: block;
    }
    &__navigation {
      display: none
    }
    &__active-menu {
      position: absolute;
      top: 130px;
      right: 0;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: calc(100vh - 131px);
      padding: 20px;
      background: #ffffff;
      border: 1px solid #424242;
    }
    &__list {
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 80%;
    }
    &__list {
      li {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        list-style-type: none;

        &:before {
          display: none
        }
        &:hover {
          border-radius: 8px;
          background: rgba(66, 66, 66, 0.2);
        }
      }
      span {
        font-size: 30px;
      }
    }
  }
}

.consultation {
  overflow: hidden;
  &__slider-content {
  display: flex;
  }
  &__slider {
    display: flex;
    overflow: hidden;
  }
  &__img-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
   }
  &__container-title {
    position: absolute;
    top: 28%;
    right: 0;
    bottom: 0;
    left: 0;
    span {
      font-size: 30px;
      color: #f3f3f3;
    }
  }
  &__btn {
    margin-top: 33px;
    padding: 20px 41px;
    border: 1px solid #f8cd53;
    border-radius: 10px;
    background-color: #f8cd53;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    &:hover{
      background-color: #ffca15;
    }
  }
  @media screen and (max-width: 960px){
    span {
      font-size: 18px;
    }
    &__btn{
      margin-top: 15px;
      padding: 10px 21px;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 600px){
    span {
      font-size: 15px;
    }
    &__btn{
      margin-top: 5px;
      padding: 5px 11px;
      font-size: 10px;
    }
  }
}

.about {
  &__container-markup{
    padding:  90px 0 117px 0;
  }
  &__container-title{
    &::after{
      margin-top: 14px;
      width: 48px;
      height: 5px;
      content: "";
      background-color: #000000;
    }
  }
  &__content-part {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 46px;
  }
  &__container-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    text-align: center;
  }
  &__container-column p:nth-child(2n){
    margin-bottom: 9px;
    font-size: 23px;
    font-weight: 700;
    @media screen and (max-width: 960px){
      font-size: 19px;
    }
  }
  &__container-img{
    margin-bottom: 19px;
  }
  @media screen and (max-width: 1024px){
    &__container-markup{
      padding:  60px 0;
    }
    &__container-column{
      margin: 0 20px 35px;
    }
  }
}

.approch {
  background-color: #f3f3f3;
  &__container-markup{
    padding:  84px 0 92px 0;
  }
  &__container-title {
    margin-bottom: 45px;
    &::after{
      margin-top: 13px;
      width: 48px;
      height: 5px;
      content: "";
      background-color: #000000;
    }
  }
  &__container-column {
    display: flex;
    margin-bottom: 40px;
    background-color: #FFFFFF;
  }
  &__container-column:nth-child(2n) &__container-text p {
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
  &__container-column:nth-child(2n) {
    flex-direction: row-reverse;
  }
  &__container-img {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    width: 340px;
    height: 236px;
  }
  &__container-number {
    position: absolute;
    top: 27%;
    right: -16%;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
  }
  &__number{
    width: 27%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #de2b24;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-family: Georgia;
    span{
      font-size: 20px;
      line-height: 1;
    }
  }
  &__container-number span:first-child{
    font-size: 60px;
    line-height: 1;
  }
  &__container-column:nth-child(2n) &__container-number{
    right: 0;
    bottom: 0;
    left:-16%;
    justify-content: flex-start;
  }
  &__container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 74px 0 94px;
    p {
      padding-bottom: 5px;
      text-align: justify;
    }
  }
  &__container-column:nth-child(2n) &__container-text{
    padding: 0 94px 0 72px;
  }
  &__container-text p:first-child {
    font-size: 18px;
    font-weight: 800;
    color: #424242;
  }
  @media screen and (max-width: 1024px) {
    &__container-text {
      width: 80%;
    }
  }
  @media screen and (max-width: 960px){
    &__container-text p:first-child {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 800px) {
    &__container-markup {
      padding: 50px 0;
    }
    &__container-column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__container-column:nth-child(2n) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__container-column:nth-child(2n) &__container-text p {
      display: block;
      text-align: justify;
    }
    &__container-img {
      width: 80%;
      height: auto;
    }
    &__container-number {
      top: 0;
      right: 0;
    }
    &__number{
      flex-direction: row;
      justify-content: center;
      height: 20%;
      padding: 0 10px 10px;
    }
    &__container-column:nth-child(2n) &__container-number{
      top: 0;
      left: 0;
    }
    &__container-number span:first-child{
      margin-right: 10px;
      font-size: 35px;
    }
    &__container-text {
      padding: 20px 0;
    }
    &__container-column:nth-child(2n) &__container-text{
      padding: 20px 0;
      width: 80%;
    }
  }
}

.our-work {
  background-color: #de2b24;
  &__container-markup{
    padding: 105px 0 127px 0;
    @media screen and (max-width: 883px){
      padding: 50px 0;
    }
  }
  &__container-title{
    h2, span{
      color: #f3f3f3;
    }
    &::after{
      margin-top: 12px;
      width: 48px;
      height: 5px;
      content: "";
      background-color: #f3f3f3;
    }
  }
  &__content-part {
    display: flex;
    flex-wrap: wrap;
    margin-top:47px;
  }
  &__container-column {
    display: flex;
    flex: 1 0 auto;
  }
  &__column-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 50%;
    background-color: #f35e59;
    a{
      font-size: 40px;
    }
    i{
      color: white;
    }
    span{
      font-size: 17px;
      color: white;
    }
  }
  &__column-text span:nth-child(2n){
    font-size: 29px;
  }
  &__container-img{
    display: flex;
    flex: 1 0 50%;
    overflow: hidden;
    img{
      height: 100%;
    }
  }
  @media screen and (max-width: 960px) {
  &__column-text span{
    font-size: 13px;
  }
  &__column-text span:nth-child(2n) {
    font-size: 20px;
  }
}
  @media screen and (max-width: 754px) {
    &__container-column:nth-child(2), &__container-column:nth-child(3) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  @media screen and (max-width: 450px){
    &__container-column:nth-child(2), &__container-column:nth-child(3){
      flex-direction: column;
    }
    &__container-column:nth-child(n+3){
      flex-direction: column-reverse;
    }
    &__container-column {
      flex-direction: column;
    }
    &__column-text {
      flex: 1 0 30%;
      padding: 30px 0;
    }
    &__container-img {
    flex: 1 0 auto;
    }
    &__column-text span{
      font-size: 13px;
    }
    &__column-text span:nth-child(2n) {
      font-size: 18px;
    }
  }
}

.submit {
  background-color: #1287bf;
  &__container-markup{
    padding: 93px 0 113px 0;
    @media screen and (max-width: 883px){
      padding: 50px 0;
    }
  }
  &__container-title {
    h2, span{
      color: #f3f3f3;
    }
  }
  &__content-part {
    position: relative;
    display: none;
    margin: 10px 25px 0;
  }
  &__triangle {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 35px solid #ffffff;
  }
  &__container-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 683px;
    margin: 0 auto;
    padding: 47px 64px 71px;
    border-radius: 4px;
    background-color: #ffffff;
    p {
      text-align: center;
      font-size: 15px;
    }
    @media screen and (max-width: 550px){
      padding: 31px 20px 50px;
    }
  }
  &__submit-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 37px 0 30px 0;
    padding: 0 54px;
    @media screen and (max-width: 743px){
      padding: 0 10px;
    }
  }
  label{
    width: 100%;
    height: 55px;
    margin-bottom: 3px;
  }
  input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #BBBBBB;
    &:hover{
      border: 1px solid #1287bf;
    }
  }
  &__btn {
    width: 161px;
    height: 46px;
    background-color: #de2b24;
    border: 1px solid #de2b24;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    &:hover{
      background-color: #dd0900;
    }
  }
  &__open{
    margin: 31px 0 19px 0;
    cursor: pointer;
    i{
      padding: 13px;
      border: 3px solid #ffffff;
      border-radius: 50%;
      font-size: 34px;
      color: #f0f0f2;
      &:hover {
        border: 3px solid #de2b24;
        color: #de2b24;
        transition: 0.3s;
      }
    }
  }
  &__close{
    position: absolute;
    z-index: 2;
    top: 28px;
    right: -19px;
    cursor: pointer;
    i{
      padding: 13px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      background-color: #de2b24;
      font-size: 20px;
      color: #f0f0f2;
      &:hover {
        border: 2px solid #de2b24;
        background-color: #ffffff;
        color: #de2b24;
        transition: 0.3s;
      }
    }
  }
}

.subscribe {
  background-color: #2a2a2a;
  &__container-markup {
    padding: 83px 18px 87px;
    @media screen and (max-width: 960px){
      padding: 50px 0;
    }
  }
  &__container-title {
    h2 {
      font-size: 31px;
      color: #f3f3f3;
      @media screen and (max-width: 960px){
        font-size: 25px;
      }
      @media screen and (max-width: 600px){
        font-size: 14px;
      }
    }
  }
  &__content-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 155px;
    p{
      margin: 10px 0;
      font-size: 15px;
      color: #f3f3f3;
    }
    @media screen and (max-width: 743px){
      padding: 0 10px;
    }
  }
  &__container-icons{
    display: flex;
    justify-content: center;
    div{
      display: flex;
      justify-content: center;
      width: 47px;
      height: 47px;
      margin: 26px 11px;
      padding: 10px;
      border: 1px solid #5C5C5C;
      cursor: pointer;
      &:hover{
        border: 1px solid #949494;
      }
    }
    i{
      font-size: 23px;
      color: #f3f3f3;
    }
  }
  &__space-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    label{
      width: 100%;
    }
    input{
      width: 100%;
      height: 50px;
      margin: 18px 0;
      padding: 0 0 0 15px;
      background-color: #515151;
      border: 2px solid #515151;
      border-radius: 1px;
      font-size: 14px;
      color: #ffffff;
      &:hover{
        border: 1px solid #949494;
      }
    }
    button{
      margin-top: 10px;
      width: 152px;
      height: 53px;
      background-color: #2a2a2a;
      border: 2px solid #515151;
      border-radius: 2px;
      font-size: 17px;
      font-weight: 700;
      color: #ffffff;
      &:hover{
        border: 1px solid #949494;
      }
    }
  }
}

.footer {
  background-color: #515151;
  &__container-markup {
    justify-content: center;
    align-items: center;
    height: 66px;
    background-color: #515151;
    p {
      font-weight: 400;
      color: #cecece;
    }
  }
}